$blue: #2a1797;
$indigo: #5410f2;
$purple: #6f42c1;
$pink: #d63384;
$red: #ee1b25;
$orange: #f4ab39;
$yellow: #ffc107;
$green: #1a4942;
$teal: #17c8be;
$cyan: #0dcaf0;

$primary: $green;
$secondary: rgb(230, 230, 230);

$min-contrast-ratio: 4;

$btn-border-radius: 2rem;
$btn-border-radius-sm: 1rem;
$btn-border-radius-lg: 0.25rem;
$btn-padding-x: 1.5rem;

// Configuration
@import "../../../node_modules/bootstrap/scss/functions";
@import "../../../node_modules/bootstrap/scss/variables";
@import "../../../node_modules/bootstrap/scss/mixins";
@import "../../../node_modules/bootstrap/scss/utilities";

$card-inner-border-radius: 0;
$card-border-radius: 0;

// Layout & components
@import "../../../node_modules/bootstrap/scss/root";
@import "../../../node_modules/bootstrap/scss/reboot";
@import "../../../node_modules/bootstrap/scss/type";
@import "../../../node_modules/bootstrap/scss/images";
@import "../../../node_modules/bootstrap/scss/containers";
@import "../../../node_modules/bootstrap/scss/grid";
@import "../../../node_modules/bootstrap/scss/tables";
@import "../../../node_modules/bootstrap/scss/forms";
@import "../../../node_modules/bootstrap/scss/buttons";
@import "../../../node_modules/bootstrap/scss/transitions";
// @import "../../../node_modules/bootstrap/scss/dropdown";
// @import "../../../node_modules/bootstrap/scss/button-group";
@import "../../../node_modules/bootstrap/scss/nav";
@import "../../../node_modules/bootstrap/scss/navbar";
@import "../../../node_modules/bootstrap/scss/card";
// @import "../../../node_modules/bootstrap/scss/accordion";
// @import "../../../node_modules/bootstrap/scss/breadcrumb";
// @import "../../../node_modules/bootstrap/scss/pagination";
@import "../../../node_modules/bootstrap/scss/badge";
// @import "../../../node_modules/bootstrap/scss/alert";
// @import "../../../node_modules/bootstrap/scss/progress";
// @import "../../../node_modules/bootstrap/scss/list-group";
// @import "../../../node_modules/bootstrap/scss/close";
// @import "../../../node_modules/bootstrap/scss/toasts";
// @import "../../../node_modules/bootstrap/scss/modal";
// @import "../../../node_modules/bootstrap/scss/tooltip";
// @import "../../../node_modules/bootstrap/scss/popover";
// @import "../../../node_modules/bootstrap/scss/carousel";
// @import "../../../node_modules/bootstrap/scss/spinners";
// @import "../../../node_modules/bootstrap/scss/offcanvas";

// Helpers
@import "../../../node_modules/bootstrap/scss/helpers";

// Utilities
@import "../../../node_modules/bootstrap/scss/utilities/api";
// scss-docs-end import-stack

@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;400;600;700&display=swap");

html,
body {
  font-size: 15px;
}

body {
  background-color: #fbf9f6;
}

.font-raleway {
  font-family: "Raleway", sans-serif;
}

.fw-semibold {
  font-weight: 600;
}

.btn-accent {
  @include button-variant($orange-300, $orange-300, $orange-900);
}

.bg-accent {
  background-color: lighten(desaturate($orange-300, 50%), 15%);
}

h1,
h2,
h3,
h4 {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
}

.card-accent {
  border-color: $orange-300;
  .card-header {
    background-color: $orange-200;
    color: $orange-800;
  }
}

#navigation {
  @extend .mb-2;
  @extend .mb-md-0;

  li > a {
    @extend .px-2;
    @extend .link-dark;
    letter-spacing: -0.025em;
    font-size: 0.88em;

    &.active {
      color: $orange-500;
    }
  }
}

.component {
  // src/components/Banner.vue
  &.banner {
    background-size: cover;
    padding: 2rem 0;

    @include media-breakpoint-up(md) {
      padding: 0;
      min-height: 420px;
    }
  }
}
